/*-- Header secion start--*/
@media screen and (max-width:980px) {
  .logo{
    width:100%;
    float: none;
    text-align: center;
  }
    .login-area{
        width: 100%;
        margin: 10px auto;
        float: none;

    }
    .login-area form{
        float: none;

    }
}
@media screen and (max-width: 768px)
.login-area {
    width: 100%;
    margin: 10px 61px;
    float: none;
}
.login-area form{
    float: none;
  }



@media screen and (max-width: 768px){
    .container{
        width: 70%;
    }
    .email,.password,.submit{
        float: none;
        margin-right: 0;
        margin-left: 20px;
    }
    .login-area input[type="text"],
    .login-area input[type="password"]{
        width: 100%;
        box-sizing: border-box;
    }
    .login-area input[type="submit"]{
        margin-top: 15px;
    }
}

@media screen and (max-width: 480px){
    .container{
        width: 80%;
    }
    .email,.password,.submit{
        float: none;
        margin-right: 0;
    }
    .login-area input[type="text"],
    .login-area input[type="password"]{
        width: 100%;
        box-sizing: border-box;
    }
    .login-area input[type="submit"]{
        margin-top: 10px;
    }
}
/*-- Header secion End--*/
